*.o
*.vcxproj.user
*~
/.depend
/.depend.bak
/.vs/
/c2
/c2.d
/c2.exe
/c2.mk
/c2.ilk
/c2.pdb
/compile_flags.txt
/**/imm/
/**/.im/
/examples/**/*.prg
/examples/**/*.sym
/examples/**/*.rom
/examples/**/*.bin
/x64/
